[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
python-dotenv = "*"

[requires]
python_version = "3.13"
