<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{% block title %} base {% endblock %}</title>

        <!-- CSS -->
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/main.css') }}"
        />
        {% block links %} {% endblock %}
    </head>


    <body>
        <!-- Header -->
        <header>
            <nav>
                <a href="{{ url_for('webui.home') }}">
                    MotiveSynk</a>

                <button
                    class="hamburger"
                    id="hamburger"
                    type="button"
                    aria-label="Open navigation menu"
                    aria-expanded="false"
                >
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <ul id="nav-links">
                    <li>
                        <a href="{{ url_for('webui.home') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('webui.explore') }}">ExploreHub</a>
                    </li>

                    <li>
                        <a href="{{ url_for('webui.about') }}">About me</a>
                    </li>

                    <li>
                        <a href="{{ url_for('webui.docs') }}">Developers & API</a>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Main content -->
        <main>
            {% block content %}
            <h1>Welcome</h1>
            <p>This is the base html for all pages</p>
            {% endblock %}
        </main>

        <!-- Footer -->
        <footer>
            <div class="footer-menu">
                <div class="footer-logo">
                    <a href="{{ url_for('webui.home') }}">
                    MotiveSynk</a>
                    <p>Sync your mood. Find your drive</p>
                </div>
                <div class="quick-links">
                    <h2>Quick links</h2>
                    <a href="{{ url_for('webui.home') }}">Home</a>
                    <a href="{{ url_for('webui.explore') }}">ExploreHub</a>
                    <a href="{{ url_for('webui.about') }}">About me</a>
                    <a href="{{ url_for('webui.docs') }}">Developers & API</a>
                </div>
                <div class="contacts">
                    <h2>Contacts</h2>
                    <p>motiveSynk@gmail.com</p>
                    <p>github/motivesynk.com</p>
                </div>
            </div>
            <div class="copyright">
                <p>&copy; 2026 My Website. All rights reserved.</p>
            </div>
        </footer>

        <!-- JavaScript -->
        <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>

        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
        <script>
            eruda.init();
        </script>
    </body>
</html>
